@model SolomonCookBook.Models.RecepieImg
@{
    Layout="_MainLayout";
}

<div class="mt-5">
    <a asp-action="Recepies">
        <i class="fa fa-arrow-left"></i>
    </a>
</div>

<div class="mt-3">
    <h2>
        Add New Recepie
    </h2>
</div>
<div class="row">
    <div class="col-md-6 mb-5" style="align-self: center;">

        @using(Html.BeginForm("CreateRecepie","Home",FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            
                @Html.LabelFor(model => model.MyRecepie.Recepie_Name , htmlAttributes: new{@class = "control-label"})
                @Html.EditorFor(model => model.MyRecepie.Recepie_Name , new{htmlAttributes = new{@class = "form-control"}}) 
        
            
                @Html.LabelFor(model => model.MyRecepie.Category , htmlAttributes: new{@class = "control-label"})
                @Html.EditorFor(model => model.MyRecepie.Category , new{htmlAttributes = new{@class = "form-control"}})
        
        
                @Html.LabelFor(model => model.MyRecepie.video_url , htmlAttributes: new{@class = "control-label"})
                @Html.EditorFor(model => model.MyRecepie.video_url , new{htmlAttributes = new{@class = "form-control"}})

                @Html.LabelFor(model => model.MyImage.Img , htmlAttributes: new{@class = "control-label"})
                @Html.EditorFor(model => model.MyImage.Img  , new{htmlAttributes = new{@class = "form-control"}})
                
        
                @Html.LabelFor(model => model.MyRecepie.Ingredients , htmlAttributes: new{@class = "control-label"})
                @Html.EditorFor(model => model.MyRecepie.Ingredients , new{htmlAttributes = new{@class = "form-control"}})
        
                @Html.LabelFor(model => model.MyRecepie.Comments , htmlAttributes: new{@class = "control-label"})
                @Html.EditorFor(model => model.MyRecepie.Comments , new{htmlAttributes = new{@class = "form-control"}})

            <br/>
            
            <input type="submit" class="btn2" />
            
        }

    </div>

    <div class="col-md-6" style="">
        <img src="../Images/Cooking-Man.jpg" width="100%"/>
    </div>

</div>
<br />
<br />
